@media only screen
/* (min-device-width: 768px) */
and (max-width: 1450px) {
/* general for iPad+ ipad Pro */
.screen {
  padding-left: 0%;
}
.ptut {
  font-size: 400px;
  padding-top: 20%;
}
.vline {
left: 50%;
}
.cheerup {
font-size: 12px;
line-height: 14px;
}
.circle {
  width: 700px;
  height: 700px;
}

  #progress, #progress2, #progress5, #progress31, #progress32, #progress41, #progress42, #progress51, #progress52
   {font-size: 20px; right: 4%;}
  #buttonstart, #buttonreplay, #buttonreplay2, #buttonreplay3, #buttonnext1, #buttonnext2, #buttonnext3, #buttonnext41, #buttonnext42, #buttonnext43, #buttonnext51, #buttonnext52, #buttonend
   {width: 261px; height: 71px; font-size: 30px;}

  #buttextf1, #buttextf2, #buttextf3, #buttextf4, #buttext1,
  #buttextf5, #buttextf6, #buttextf7, #buttextf8, #buttext2,
  #buttextf9, #buttextf10, #buttextf11, #buttextf12, #buttext3,
  #buttextf13, #buttextf14, #buttextf15, #buttextf16, #buttext31,
  #buttextf17, #buttextf18, #buttextf19, #buttextf20, #buttext32,
  #buttextf21, #buttextf22, #buttextf23, #buttextf24, #buttext41,
  #buttextf25, #buttextf26, #buttextf27, #buttextf28, #buttext42,
  #buttextf29, #buttextf30, #buttextf31, #buttextf32, #buttext51,
  #buttextf33, #buttextf34, #buttextf35, #buttextf36, #buttext52
  {flex: 150px; font-size: 18px; padding: 0 20px;}

    #f1, #f2, #f3, #f4, #ftrue,
    #f5, #f6, #f7, #f8, #ftrue2,
     #f9, #f10, #f11, #f12, #ftrue3,
     #f13, #f14, #f15, #f16, #ftrue31,
     #f17, #f18, #f19, #f20, #ftrue32,
     #f21, #f22, #f23, #f24, #ftrue41,
     #f25, #f26, #f27, #f28, #ftrue42,
     #f29, #f30, #f31, #f32, #ftrue51,
     #f33, #f34, #f35, #f36, #ftrue52
     {height: 40px; border-width: 1px; border-radius: 20px; margin: 5px 5px;}

    #exit {width: 100px; height: 55px;}

    .leveltitle {font-size: 30px; line-height: 35px;}

    .score1, .score2, .score3 {font-size: 20px; line-height: 30px;}

    .h1 { font-size: 50px; line-height: 50px;}
    .h2 {
      font-size: 14px;
      padding-top: 1vh;
      letter-spacing: 1.5px;
      line-height: 17px;
    }

    .n1 {
      font-size: 132px;
    padding-top: 0px;
    width: 8vw;
    }

    .t1 {
      letter-spacing: 1.1px; font-size: 14px; font-weight: 100;}

}

.answers { position: absolute; bottom: 10%; left: 10%;
}

.yourbar {
  bottom: 20%;
  right: 4%;

}
.greysidebar {
  bottom: 20%;
  right: 4%;

}

.energy {
  bottom: 0%;
  right: 4%;

}
#time1, #time2, #time5, #time31, #time32, #time41, #time42, #time51, #time52  {
  right: 4%; top: 10%;
  font-size: 20px;
}
#exit {top: 6%; right: 4%; width: 100px; height: 55px;}
}
@media only screen and (min-width: 1024px)
and (max-width: 1366px) and (orientation: landscape)
 /* iPad+ ipad Pro Landscape */
 {
   .confetti {
     top: 12%;
     width: 60%;
   }

   .answers {margin-top: -1%;
   }


   .gameui {
       top: 6%;
       left: 4%;
   }

   .energy, .greysidebar, .yourbar {
       right: 4%;
   }
   .instwrap {
     width: 57%;
   }

   .wrap1 {
     position: relative;
     display: flex;
     width: 75vw;
     height: 30vh;
     margin-top: 0vh;
     margin-left: 19vw;
   }

   .wrap {
     width: 100vw;
     padding-top: 35vh;
   }


     .h2 {
      padding-top: 2vh;}
 }

 @media only screen and (min-device-width: 700px) and (max-device-width: 820px)
 and (orientation: portrait) {


/* iPads Portrait */
   .container {
     padding-top: 20vh;
     width: 100vw !important;
     height: 680px;
   }
   .confetti {
     top: 30%;
     left: 20%;
     width: 80%;
   }

   #redux, #redux2, #redux3, #redux31, #reduxlast, #redux41, #redux42, #redux51, #redux52 {
     position: absolute;
     height: 100%;
     width: auto;}

   #robot, #interstellar, #interst, #day, #prada, #pulp, #kill, #dza, #twin {
     position: absolute;
      left: -40vw;
     height: 100%;
     width: auto;}


   .wrap {
     width: 100vw;
     padding-top: 18vh;
   }



.wrap1 {
  display: flex;
  flex-flow: column;
  width: 40vw;
  height: 50vh;
  margin-top: 5vh;
  padding-left: 10vw;

}
.n1 {width: 10vw;}


 .instwrap {width: 65%;}
 .instruction {padding-top: 36vh;}
.gameui {
    top: 6%;
    left: 4%;
}
.energy, .greysidebar, .yourbar {right: 4%;}

#time1, #time2, #time5, #time31, #time32, #time41, #time42, #time51, #time52  {
  right: 4%;
  top: 9%;
  font-size: 20px;
}
#exit {top: 6%; right: 4%; width: 100px; height: 55px;}
.answers {
  position: absolute;
  bottom: 10%;
left: 9%;
width: 80vw;
height: 100px;
}
.yourbar {
  bottom: 30%;
  right: 4%;

}
.greysidebar {
  bottom: 30%;
  right: 4%;

}

.energy {
  bottom: 0%;
  right: 4%;

}

}
/* extra for all mobile-devices */
@media only screen and (max-width: 896px) {

  #buttonstart, #buttonreplay, #buttonreplay2, #buttonreplay3,  #buttonnext1, #buttonnext2, #buttonnext3, #buttonnext41, #buttonnext42, #buttonnext43, #buttonnext51, #buttonnext52, #buttonend {
    width: 196px;
    height: 54px;
    font-size: 22px;
  }
  #buttextf1, #buttextf2, #buttextf3, #buttextf4, #buttext1,
  #buttextf5, #buttextf6, #buttextf7, #buttextf8, #buttext2,
  #buttextf9, #buttextf10, #buttextf11, #buttextf12, #buttext3,
  #buttextf13, #buttextf14, #buttextf15, #buttextf16, #buttext31,
  #buttextf17, #buttextf18, #buttextf19, #buttextf20, #buttext32,
  #buttextf21, #buttextf22, #buttextf23, #buttextf24, #buttext41,
  #buttextf25, #buttextf26, #buttextf27, #buttextf28, #buttext42,
  #buttextf29, #buttextf30, #buttextf31, #buttextf32, #buttext51,
  #buttextf33, #buttextf34, #buttextf35, #buttextf36, #buttext52   {

  flex: 150px;
  font-size: 18px;
  padding: 0 20px;
  }
    #f1, #f2, #f3, #f4, #ftrue,
    #f5, #f6, #f7, #f8, #ftrue2,
     #f9, #f10, #f11, #f12, #ftrue3,
     #f13, #f14, #f15, #f16, #ftrue31,
     #f17, #f18, #f19, #f20, #ftrue32,
     #f21, #f22, #f23, #f24, #ftrue41,
     #f25, #f26, #f27, #f28, #ftrue42,
     #f29, #f30, #f31, #f32, #ftrue51,
     #f33, #f34, #f35, #f36, #ftrue52 {

    height: 40px;
    border-width: 1px;
    border-radius: 20px;
   margin: 5px 5px;
    }


    .answers {
      position: absolute;
      bottom: 3%;
    left: 9%;
    width: 80vw;
    height: 100px;
    }


    /* .yourbar {
      bottom: 10%;
      right: 4%;
  height: 250px;
    }
    .greysidebar {
      bottom: 10%;
      right: 4%;
  height: 250px;
    }

    .energy {
      bottom: 0%;
      right: 4%;
  height: 250px;
    } */
  }

  @media only screen
  and ( min-device-width: 812px)
  and ( max-device-width: 896px)
  and (min-device-height: 375px)
  and (max-device-height: 414px)
  and (orientation: landscape) {
    /* iPhone X, XR landscape */
    .confetti {

      top: 10%;
      left: 25%;
      height: 58vh;
    }
    #robot, #interstellar, #interst, #day, #prada, #pulp, #kill, #dza, #twin {

       left: -30vw;
       top: -50vh;
    }

    .ptut {
      font-size: 180px;
      padding-top: 26%;
    }
    .vline {
    left: 50%;
  }
  .cheerup {
    font-size: 12px;
    line-height: 14px;
  }
    .circle {
      width: 400px;
      height: 400px;
    }


  #buttonstart, #buttonreplay, #buttonreplay2, #buttonreplay3, #buttonnext1, #buttonnext2, #buttonnext3, #buttonnext41, #buttonnext42, #buttonnext43, #buttonnext51, #buttonnext52, #buttonend {
    width: 196px;
    height: 54px;
    font-size: 22px;
  }
  #buttextf1, #buttextf2, #buttextf3, #buttextf4, #buttext1,
  #buttextf5, #buttextf6, #buttextf7, #buttextf8, #buttext2,
  #buttextf9, #buttextf10, #buttextf11, #buttextf12, #buttext3,
  #buttextf13, #buttextf14, #buttextf15, #buttextf16, #buttext31,
  #buttextf17, #buttextf18, #buttextf19, #buttextf20, #buttext32,
  #buttextf21, #buttextf22, #buttextf23, #buttextf24, #buttext41,
  #buttextf25, #buttextf26, #buttextf27, #buttextf28, #buttext42,
  #buttextf29, #buttextf30, #buttextf31, #buttextf32, #buttext51,
  #buttextf33, #buttextf34, #buttextf35, #buttextf36, #buttext52   {

  flex: 150px;
  font-size: 18px;
  padding: 0 20px;
  }
    #f1, #f2, #f3, #f4, #ftrue,
    #f5, #f6, #f7, #f8, #ftrue2,
     #f9, #f10, #f11, #f12, #ftrue3,
     #f13, #f14, #f15, #f16, #ftrue31,
     #f17, #f18, #f19, #f20, #ftrue32,
     #f21, #f22, #f23, #f24, #ftrue41,
     #f25, #f26, #f27, #f28, #ftrue42,
     #f29, #f30, #f31, #f32, #ftrue51,
     #f33, #f34, #f35, #f36, #ftrue52 {

    height: 35px;
    border-width: 1px;
    border-radius: 20px;
   margin: 5px 2px;
    }

    .wrap {
      width: 100vw;
      padding-top: 20vh;
    }
    .h1 { font-size: 48px; line-height: 52px; padding-bottom: 4vh;}
    .h2 {

      padding-top: 3vh;
      letter-spacing: 1.5px;
      line-height: 16px;
      font-size: 12px;
    }
    h3 {
      padding-bottom: 0px;
      margin-bottom: 10vh;
    }
    .level1 {
      width: 30vw;
      height: 120px;

    }

    .wrap1 {
      position: relative;
      display: flex;
      width: 86vw;
      height: 50vh;
      margin-top: -2vh;
      padding-top: 0px;
      padding-left: 9vw;
    /* padding-left: 20vw; */
    }

    .n1 {
      font-size: 130px;
    padding-top: 0px;
    width: 10vw;
    }

    .t1 {
      letter-spacing: 1.3px; font-size: 12px;}
    /* margin-left: -2vw;} */

    .leveltitle {
      font-size: 30px;
      line-height: 35px;
    }
    .instwrap {
      width: 75%;
    }
    .instwrap2 {
      width: 70%;
    }
    .instruction {
      padding-top: 26vh;
  }
  #time1, #time2, #time5, #time31, #time32, #time41, #time42, #time51, #time52  {
    right: 4%;
    top: 13%;
    font-size: 20px;
  }
  #exit {top: 6%; right: 4%; width: 100px; height: 55px;}

  .gameui {
      top: 6%;
      left: 4%;
  }

  .yourbar {
    bottom: 10%;
    right: 4%;
height: 250px;
  }
  .greysidebar {
    bottom: 10%;
    right: 4%;
height: 250px;
  }

  .energy {
    bottom: 0%;
    right: 4%;
height: 250px;
  }

  #progress, #progress2, #progress5, #progress31, #progress32, #progress41, #progress42, #progress51, #progress52  {
  font-size: 20px;
  right: 4%;
  }

  }


@media only screen and (max-device-width: 414px)
and (max-device-height: 896px)
and (orientation: portrait){
/* iPhone XR Portrait */
.confetti {
  top: 30%;
  width: 90%;
}
#robot, #interstellar, #interst, #day, #prada, #pulp, #kill, #dza, #twin {

   left: -156vw;
}

.circle {
width: 340px;
height: 340px; }


#buttonstart, #buttonreplay, #buttonreplay2, #buttonreplay3, #buttonnext1, #buttonnext2, #buttonnext3, #buttonnext41, #buttonnext42, #buttonnext43, #buttonnext51, #buttonnext52, #buttonend {
  width: 196px;
  height: 54px;
  font-size: 22px;
}
#buttextf1, #buttextf2, #buttextf3, #buttextf4, #buttext1,
#buttextf5, #buttextf6, #buttextf7, #buttextf8, #buttext2,
#buttextf9, #buttextf10, #buttextf11, #buttextf12, #buttext3,
#buttextf13, #buttextf14, #buttextf15, #buttextf16, #buttext31,
#buttextf17, #buttextf18, #buttextf19, #buttextf20, #buttext32,
#buttextf21, #buttextf22, #buttextf23, #buttextf24, #buttext41,
#buttextf25, #buttextf26, #buttextf27, #buttextf28, #buttext42,
#buttextf29, #buttextf30, #buttextf31, #buttextf32, #buttext51,
#buttextf33, #buttextf34, #buttextf35, #buttextf36, #buttext52   {

flex: 150px;
font-size: 18px;
padding: 0 11px;
}
  #f1, #f2, #f3, #f4, #ftrue,
  #f5, #f6, #f7, #f8, #ftrue2,
   #f9, #f10, #f11, #f12, #ftrue3,
   #f13, #f14, #f15, #f16, #ftrue31,
   #f17, #f18, #f19, #f20, #ftrue32,
   #f21, #f22, #f23, #f24, #ftrue41,
   #f25, #f26, #f27, #f28, #ftrue42,
   #f29, #f30, #f31, #f32, #ftrue51,
   #f33, #f34, #f35, #f36, #ftrue52 {

  height: 35px;
  border-width: 1px;
  border-radius: 20px;
 margin: 5px 2px;
  }
.answers {
  position: absolute;
  bottom: 15vh;
  width: 88vw;
  height: 50px;
}
.wrap {
  width: 100vw;
  padding-top: 18vh;
}
 .h2 {
   width: 250px;
   margin: 0 auto;
   padding-top: 2vh;
   letter-spacing: 1.5px;
   line-height: 16px;
   font-size: 14px;
 }
.ptut {
  font-size: 200px;
  padding-top: 16%;
}
.vline {
  left: 50%;
}

.h1 { font-size: 40px; line-height: 41px;}

.level1 {
  width: 240px;
  height: 120px;
  padding-left: 12vw;
}

.wrap1 {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 50vh;
  margin-top: -2vh;
/* padding-left: 20vw; */
}

.n1 {
  font-size: 130px;
padding-top: 0px;
width: 90px;
}

.t1 {
  letter-spacing: 1.3px; font-size: 14px;}
/* margin-left: -2vw;} */

.leveltitle {
  font-size: 30px;
  line-height: 35px;
}
.score1, .score2, .score3 {
  font-size: 20px;
  line-height: 30px;
  /* margin-top: -1vh; */
  /* line-height: 25px; */
}
#time1, #time2, #time5, #time31, #time32, #time41, #time42, #time51, #time52  {
  right: 4%;
  top: 9%;
  font-size: 20px;
}
#exit {top: 6%; right: 4%; width: 100px; height: 55px;}

.gameui {
    top: 6%;
    left: 4%;
}

.yourbar {
  bottom: 30%;
  right: 4%;

}
.greysidebar {
  bottom: 30%;
  right: 4%;

}

.energy {
  bottom: 0%;
  right: 4%;

}


  .instwrap {
    width: 90%;
  }
  .instwrap2 {
    width: 70%;
  }
  .instruction {
    padding-top: 37vh;
}
}

@media only screen
and ( max-device-width: 812px)
and (orientation: landscape) {
  #robot, #interstellar, #interst, #day, #prada, #pulp, #kill, #dza, #twin {
top: -60vh;
     left: -100vw;
  }

  #buttonstart, #buttonreplay, #buttonreplay2, #buttonreplay3, #buttonnext1, #buttonnext2, #buttonnext3, #buttonnext41, #buttonnext42, #buttonnext43, #buttonnext51, #buttonnext52, #buttonend {
    width: 196px;
    height: 54px;
    font-size: 22px;
  }
  #buttextf1, #buttextf2, #buttextf3, #buttextf4, #buttext1,
  #buttextf5, #buttextf6, #buttextf7, #buttextf8, #buttext2,
  #buttextf9, #buttextf10, #buttextf11, #buttextf12, #buttext3,
  #buttextf13, #buttextf14, #buttextf15, #buttextf16, #buttext31,
  #buttextf17, #buttextf18, #buttextf19, #buttextf20, #buttext32,
  #buttextf21, #buttextf22, #buttextf23, #buttextf24, #buttext41,
  #buttextf25, #buttextf26, #buttextf27, #buttextf28, #buttext42,
  #buttextf29, #buttextf30, #buttextf31, #buttextf32, #buttext51,
  #buttextf33, #buttextf34, #buttextf35, #buttextf36, #buttext52   {

  flex: 150px;
  font-size: 15px;
  padding: 0 20px;
  }
    #f1, #f2, #f3, #f4, #ftrue,
    #f5, #f6, #f7, #f8, #ftrue2,
     #f9, #f10, #f11, #f12, #ftrue3,
     #f13, #f14, #f15, #f16, #ftrue31,
     #f17, #f18, #f19, #f20, #ftrue32,
     #f21, #f22, #f23, #f24, #ftrue41,
     #f25, #f26, #f27, #f28, #ftrue42,
     #f29, #f30, #f31, #f32, #ftrue51,
     #f33, #f34, #f35, #f36, #ftrue52 {

    height: 34px;
    border-width: 1px;
    border-radius: 20px;
   margin: 4px 2px;
    }

    .answers {
      height: 91px;
    }

.h1{
  font-size: 42px;
  line-height: 42px;
}

.h2 {
  font-size: 12px;
  padding-top: 3vh;
}
.wrap {
  padding-top: 26vh;
}
.wrap1 {
  width: 83vw;
  height: auto;
  padding-top: 3vh;
}
.n1 {
  font-size: 100px;
padding-top: 0px;
width: 10vw!important;
}
.instwrap {
  width: 85%;
  margin-bottom: 1vh;
}
.instruction {
  padding-top: 24vh;
}
h3 {
  font-size: 12px;
  padding-bottom: 10vh;;
}
.t1 {
  letter-spacing: 1.3px; font-size: 12px; line-height: 14px;}
  #time1, #time2, #time5, #time31, #time32, #time41, #time42, #time51, #time52 {

      top: 12%;}

      .gameui {
        left: 4%;
      }
      #exit {
        top: 4%;
      }

      .ptut {
        font-size: 180px;
        padding-top: 23%;
      }
      .vline {
      left: 50%;
    }
    .cheerup {
      font-size: 12px;
      line-height: 14px;
    }
      .circle {
        width: 360px;
        height: 360px;
      }
}

@media only screen and (max-device-width: 380px)
and (max-device-height: 700px)
and (orientation: portrait){
  .instruction {
    padding-top: 30vh;
  }
  .vline {
    left: 52%;
  }
  .ptut {
    font-size: 180px;
    padding-top: 22%;
  }
  .n1 {
    font-size: 100px;
  padding-top: 0px;
  width: 74px!important;
  }
}
